.list-users-popup-window-user {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.list-users-popup-window-user-div-data {
  width: 50%;
  height: 80%;
  background-color: white;
  display: flex;
  overflow: auto;
  position: relative;
}

.list-users-popup-window-user-img {
  width: 100%;
}

.list-users-popup-window-user-div-data-image {
  overflow: hidden;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.list-users-popup-window-user-div-data-content {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
}

.list-users-popup-window-user-ul-data {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.list-users-popup-window-user-li-data {
  display: block;
  margin: 0;
  padding: 0;
}

.list-users-popup-window-user-span-item {
  font-size: 1.2rem;
  font-weight: bolder;
}

.list-users-popup-window-user-span-value {
  font-size: 1.2rem;
}

.list-users-popup-window-user-form {
  display: flex;
  width: 100%;
  justify-content: center;
}

.list-users-popup-window-user-img-close {
  width: 30px;
  height: 30px;
  position: absolute;
  top:0;
  right: 0;
  cursor: pointer;
}